.video-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
  }
  .video-wrapper > iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  .md-typeset .admonition,
  .md-typeset details {
    font-size:inherit;
  }

  .md-typeset .admonition.definition,
  .md-typeset details.definition {
    font-size:inherit;
    border-color: white; /* rgb(43, 155, 70);*/
    box-shadow: none;
  }
 .admonition.definition p {
    margin-top:0 !important;
    padding-top:0 !important;
    /*border-color: rgb(43, 155, 70);*/
  }

  .md-typeset .definition > .admonition-title,
  .md-typeset .definition > summary {
    background-color: white; /* rgba(43, 155, 70, 0.1);*/
    padding-left:0;
    font-weight:bolder
  }
  .md-typeset .definition > .admonition-title::before,
  .md-typeset .definition > summary::before {
    
    background-color:transparent;  /*rgb(43, 155, 70);*/
    -webkit-mask-image: none;
            mask-image: none;
  }
  

  .md-typeset .admonition.answer,
  .md-typeset details.answer {
    font-size:inherit;
    border-color: white; /* rgb(43, 155, 70);*/
    box-shadow: none;
    border-color: #e4e7e7;

  }
 .admonition.answer p {
    margin-top:0 !important;
    padding-top:0 !important;
  }

  .md-typeset .answer > .admonition-title,
  .md-typeset .answer > summary {
    background-color: white; /* rgba(43, 155, 70, 0.1);*/
    padding-left:10px;
    border-color: #e4e7e7;

  }
  .md-typeset .answer > .admonition-title::before,
  .md-typeset .answer > summary::before {
    
    background-color:transparent;  /*rgb(43, 155, 70);*/
    -webkit-mask-image: none;
            mask-image: none;
  }


/*TESTING */

div.example {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}
